h1{
    text-align: center;
}
/* .poke_div {
    background-color: blue;
    color: black;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;

} */
.container {
    /* display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px; */
}
#pokeDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    border: solid black;
      border-width: .5px .5px;
  }
  #div1 {
      /* margin: 10px; */
      border: solid black;
      border-width: 1px 1px;
      cursor: pointer;
  }
  #singlePokeDiv{
      text-align: center;
      margin: 10px;
      font-family: 'Oswald', sans-serif;
      
  }
  h3 {
      font-size: 60px ;
  }
  h1 {
      font-size: 70px;
  }
  img{
    max-height: 300px;
    max-width: 300px;
    width: 300px;
    height: 300px;
  }
  h5{
      font-size: 50px;
      margin: auto;
      font-family: 'Oswald', sans-serif;

  }
  h4{
      font-size: 40px;
      margin: auto;
  }
  a{
      text-decoration: none;
  }
